[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "opus"]
	path = opus
	url = git://git.opus-codec.org/opus.git
[submodule "toxcore"]
	path = toxcore
	url = https://github.com/irungentoo/ProjectTox-Core.git
	branch = TCP
[submodule "whammy"]
	path = whammy
	url = https://github.com/antimatter15/whammy
